<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="professional">
        
        <div class="comment">
            “댕댕 유치원은 다년간의 경험과 노하우를 보유한<br>국내 최고의 반려견 전문가들이 함께 합니다.”
        </div>
        
        <div class="p_list">
        
            <div class="person">
                <img src="./img/angry.jpg" alt="doctor1">

                <h3>이혜원 박사<br>유치원 메디컬 원장</h3>
                <table>
                    <tr>
                        <td>&nbsp;&nbsp;독일 뮌헨대학교 수의대 졸업</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;동대학수의대 동물복지 및 동물행동학 박사 취득</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;유럽동물자연보호협회 동물보호소 임상 수의사</td>
                    </tr>
                    <tr> 
                        <td>&nbsp;&nbsp;동물권행동 카라 정책국장 및 행동치료 수의사</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;건국대 3R동물복지연구소 부소장</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;잘키움행동치료동물병원 원장</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;건국대 수의대 겸임교수</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;대한수의사회 동물복지위원회 위원</td>
                    </tr>
            
                </table>
                
        
            </div>
            
            <div class="person">
                <img src="./img/angry.jpg" alt="doctor2">
                <h3>변성수 교수<br>유치원 운영 원장</h3>
                <table>
                    <tr>   
                        <td>&nbsp;&nbsp;일본 동경 비져널아츠 DOG TRAINING과 졸업</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;일본 무라세 구조견 & 경찰견 훈련소</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;일본 카메다 어질리티 훈련소</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;삼성 구조견 아시아 대회 헬퍼</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;이삭애견훈련소 훈련팀장 역임</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;㈜ 동물과사람 훈련소장 역임</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;경기도 반려견 문화교실 교육</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;(사) 유기견 없는 도시 교육본부장</td>
                    </tr>
                </table>
            </div>
           
            <div class="person">
                <img src="./img/angry.jpg" alt="doctor3">
                <h3>김민희<br>유치원 운영 부원장</h3>
                <table>
                    <tr>   
                        <td>&nbsp;&nbsp;청담/일산 이리온 동물의료원 서비스팀</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;한남 한남동강아지 서비스팀</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;서울숲 에꼴드시앙 점장</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;비안코이탈리아 반려견 아카데미 총괄, 운영사업부 MD & 트레이너</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;동물 간호 복지사 - 동물간호복지사자격위원회</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;애견 종합 관리사 - 한국애견협회</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;독 아로마테라피스트 마스터 - 한국펫산업학회장</td>
                    </tr>
                    <tr>   
                        <td>&nbsp;&nbsp;성남시/안양시 반려동물 문화교실 - 동반학교 강의</td>
                    </tr>
                </table>
                <br><br><br>
                
            </div>
        </div>
    </div>


    
</div>  
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>