
/*======= 웹 폰트 선언 =======*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 디자인 시작 시 기본적으로 선언하는 문법 */
* {
    /* 기본 선언: 마진, 패딩 0, 요소 크기를 border를 기준으로.*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    min-width: 320px;
    font-family: "Nanum Gothic", sans-serif;
}

img {
    max-width: 100%; /*사이즈가 변해도 넓이를 유지*/
    height: auto; /* 사이즈가 변해도 비율을 유지 */
}

/*
input, textarea, button, select {
     고유하게 적용되어있는 form 관련 요소들을 제거해서
     여러 브라우저에서 동일한 디자인을 얻게 함.
    -webkit-appearance: none; 크롬, 사파리
    -moz-appearance: none; 파이어폭스
    appearance: none; ie, edge
    border: none;
}
*/



ul, ol, dl, li {
    /*리스트 스타일은 사용할 일이 많지 않아요.*/
    list-style: none; 
}

.btn {
    border-radius: 0px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
section {
    margin-top: 200px;
    text-align: center; 
}
/*======= 이용안내 페이지 =======*/
.title {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    line-height: 40px;
}

.mainBody {
    width: 70%;
    margin: 0 auto;
}

.left, .right{
    width: 49%;
}
.left{
    float: left;
}
.right{
    float: left;
    padding-left: 20px;
}
.list-group{
    border: 1px gray solid;
    font-size: 14px;
}
.list-group-item{
    border-bottom: 1px gray solid;
    padding: 1em;
}
.list-group.item:last-child{
    border-bottom: none;
}
.info{
    margin-bottom: 30px;
}

.reserve_form input, .reserve_form select, .reserve_form textarea{
    width: 100%;
    
    padding-left: 5px; 
}
.reserve_form input, .reserve_form select{
    height: 30px;
 
}
.reserve_form textarea{
    height: 170px;
}

.reserve_btn{
    width: 100%;
    background-color: rgb(240, 228, 64);
    border: 0px;
    border-radius: 5px;
    height: 40px;
    
}
.reserve_input{
    margin-top: 10px;
    margin-bottom: 30px;
}
.img_block{
    float: left;
}        
.info_block{
    float: left;
    margin-left: 10px;
}
/*======= 서비스 - 그루밍 페이지 =======*/
.main{
    width: 70%;
    margin: 200px auto 0;

}
.main_txt {
    margin-top: 75px;
    text-align: center;
}

.main_txt> p {
    margin-top: 25px;
}
.container{
    margin-top: 200px;
    text-align: center;
}

.container h4{
    font-weight: bold;
}
.list{
    float:left;
    width:33%;
    padding: 10px;
}

.portfolio{
    margin-top: 200px;
    
}
.portfolio h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.img_list {
    /* padding: 0px  150px 0px 150px; */
    text-align: center;
}
.img_list .image {
    margin-top: 0;
}

.img_list img{
    padding-bottom: 10px;
    padding: 2.5px;
    width: 370px;
    height: 500px;
}

/*======= 전문진 소개 페이지 =======*/
.comment{
    padding-top: 50px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}


.person{
    width: 1000px;
    margin: 0 auto;
    left: 50%;
    padding-top: 85px;
}

.person img{
    float: left;
    width: 450px;
    height: 450px;
    padding-top: 20px;
    padding-right: 50px;
}

.person h3{
    font-weight: bold;
    padding-bottom: 10px;
}
.person table {
    
    width: 530px;
    height: 415px;
}
table, td, th {
    border : 1px solid black;
    border-collapse : collapse;
  };

