
/*======= 웹 폰트 선언 =======*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 디자인 시작 시 기본적으로 선언하는 문법 */
* {
    /* 기본 선언: 마진, 패딩 0, 요소 크기를 border를 기준으로.*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    min-width: 320px;
    font-family: "Nanum Gothic", sans-serif;
}

img {
    max-width: 100%; /*사이즈가 변해도 넓이를 유지*/
    height: auto; /* 사이즈가 변해도 비율을 유지 */
}

/*
input, textarea, button, select {
     고유하게 적용되어있는 form 관련 요소들을 제거해서
     여러 브라우저에서 동일한 디자인을 얻게 함.
    -webkit-appearance: none; 크롬, 사파리
    -moz-appearance: none; 파이어폭스
    appearance: none; ie, edge
    border: none;
}
*/



ul, ol, dl, li {
    /*리스트 스타일은 사용할 일이 많지 않아요.*/
    list-style: none; 
}

.btn {
    border-radius: 0px;
}


/* 공통 스타일 */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
section {
    margin-top: 200px;
}
.wrap {
    width: 70%;
    margin: 0 auto;
}
.main-container{
    width: 100%;
    text-align: center;
}


/*======= 이용안내 페이지 =======*/
.title {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    line-height: 40px;
}

.mainBody {
    width: 70%;
    margin: 0 auto;
}

.left, .right{
    width: 49%;
}
.left{
    float: left;
}
.right{
    float: left;
    padding-left: 20px;
}
.list-group{
    border: 1px gray solid;
    font-size: 14px;
}
.list-group-item{
    border-bottom: 1px gray solid;
    padding: 1em;
}
.list-group.item:last-child{
    border-bottom: none;
}
.info{
    margin-bottom: 30px;
}

.reserve_form input, .reserve_form select, .reserve_form textarea{
    width: 100%;
    
    padding-left: 5px; 
}
.reserve_form input, .reserve_form select{
    height: 30px;
 
}
.reserve_form textarea{
    height: 170px;
}

.reserve_btn{
    width: 100%;
    background-color: rgb(240, 228, 64);
    border: 0px;
    border-radius: 5px;
    height: 40px;
    
}
.reserve_input{
    margin-top: 10px;
    margin-bottom: 30px;
}
.img_block{
    float: left;
}        
.info_block{
    float: left;
    margin-left: 10px;
}
/*======= 서비스 - 그루밍 페이지, 메디컬센터, =======*/
.main_txt {
    width: 70%;
    margin-top: 75px;
  
}

.main_txt> p {
    margin-top: 25px;
}
.g-wrap{
    margin-top: 100px;  
}

.g-wrap h4{
    font-weight: bold;
}
.service-list{
    float:left;
    width:33%;
    padding: 10px;
}

.portfolio{
    margin-top: 200px;
    
}
.portfolio h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}


.img_list img{
    padding-bottom: 10px;
    padding: 2.5px;
    width: 370px;
    height: 500px;
}

/*===========서비스 - 호텔 페이지===============*/

.hena {
    margin-top: 50px;
    margin-bottom: 100px;
}
.hena h3 {
    font-size: 30px;
    padding: 30px 0 20px;
    
}
.hena p {
    font-size: 20px;
}
.hena img {
    width: 100%;
    
}
.intro{
    display: block;
}
.intro h4 {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    padding: 10px 0;
}
.intro p {
    font-size: 15px;
    text-align: left;
    padding-bottom: 10px;
}

.hotel-left {
    float: left;
    height: 500px;
    width: 45%;
    margin: 20px auto;
}
.hotel-right {
    float: right;
    height: 500px;
    width: 45%;
    margin: 20px auto;
}

.hotel-room {
    margin-top: 50px;
}

.hotel-room h2 {
    font-size: 30px;
    margin: 100px;
}


.hotel-txt{
    margin: 40px;

}
.hotel-txt h4 {
    font-size: 30px;
    padding-bottom: 30px;
}   
.hotel-txt p {
    font-size: 15px;
    line-height: 25px;
}   


/*======= 전문진 소개 페이지 =======*/
.comment{
    padding-top: 50px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.person{
    width: 1000px;
    margin: 0 auto;
    left: 50%;
    padding-top: 85px;
}

.person img{
    float: left;
    width: 450px;
    height: 450px;
    padding-top: 20px;
    padding-right: 50px;
}

.person h3{
    font-weight: bold;
    padding-bottom: 10px;
}
.person table {
    width: 530px;
    height: 415px;
}
table, td, th {
    border : 1px solid black;
    border-collapse : collapse;
  };


/*==============유치원==============*/


.container {
    margin-top: 2em;
    display: inline-block;

}
.pres-list {
    line-height: 1.5em;
    float: left;
    width: 33%;

}


.container h3 {
    margin-bottom: 50px;
    margin-top: 5em;  /*고품격이랑 제목사진 사이 간격*/
}

.educationSystem {
    padding-top: 2em;
    margin-top: 15em; /*표랑 고품격 사이의 간격*/
}

.educationSystem h3 {
    margin-bottom: 20px;
}

.edulist {
    width: 100%;  /*표 오른쪽 너비*/
    background-color: blanchedalmond;
    text-align: center;
    
}

.edulist tr td {
    padding: 30px;
}

.in {
    margin-top: 10em;  /*표랑 국내최고의 시설 사이 간격*/
}
.in div {
    margin: 20px auto;
}
.in div img {
    margin-bottom: 20px;
}

.pres-price {
    margin-top: 5em;  /*이용가격이랑 국내최고의시설 사이 간격*/
}

.monthPrice {
    width: 100%;
    margin-top: 2em;
}

.monthPrice tr td {
    padding: 30px;
    background-color: blanchedalmond;
}















